.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(220, 220, 220, 0.5);

  &__image {
    display: block;
    width: 250px;
    height: 250px;
    margin: 10px auto;
    object-fit: contain;
    border-radius: 50%;
  }

  &__text {
    text-align: center;
    font-size: 20px;
  }
}