$white: #ffffff;
$gray-100: #F5F5F6;
$gray-200: #EAEBED;
$gray-300: #D5D6DC;
$gray-500: #ACADB9;
$gray-600: #7B7C88;
$black: #232134;

$blue-100: #DEECFF;
$blue-200: #C9E0FF;
$blue-300: #B7D6FF;
$blue-400: #B7D6FF;
$blue-500: #5E96FC;
$blue-600: #3B7CD3;