@import'../../styles/variables';
@import '../../assets/fonts/fonts';

.logo {
  display: flex;
  align-items: center;
  margin-right: 280px;

  &__image {
    margin-right: 12px;
  }

  &__title {
    color: $black;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
}