@import'../../styles/variables';
@import '../../assets/fonts/fonts';

.mantine-Burger-root {
  display: none;
}

.header {
  padding: 22px 0;
  background: $white;

  &__container {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 18px 0;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 12px 0;

    &__container {
      justify-content: space-between;
    }
  }

  .mantine-Burger-root {
    display: block;
  }
}