@import'../../../styles/variables';
@import "../../../assets/fonts/fonts";

.nav {
  &__list {
    display: flex;
    gap: 60px;
  }

  &__link {
    font-family: Inter, sans-serif;
    transition: all 0.3s;
    color: $black;

    &--active {
      color: $blue-500;
      font-weight: 500;
    }
  }
}

@media (max-width: 1023px) {
  .nav {
    &__link {
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
  .nav {
    transition: all 0.5s;
    padding: 50px 16px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $gray-100;
    border-radius: 8px;
    z-index: 2;
    overflow: hidden;

    &__list {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: $white;
      border-radius: 8px;
    }

    &__active {
      right: 0;
    }
  }
}