@import '../../assets/fonts/fonts';
@import '../../styles/variables';

.mantine-Pagination-control {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  min-width: 32px;
  height: 32px;
  padding: 0 0.5rem;

  &[data-active] {
    background-color: $blue-500;
  }
}

@media (max-width: 1023px) {
  .mantine-Pagination-control {
    font-size: 14px;
    min-width: 28px;
    height: 28px;
    padding: 0 0.5rem;
  }
}


@media (max-width: 424px) {
  .mantine-Pagination-control {
    font-size: 10px;
    min-width: 20px;
    height: 20px;
    padding: 0 0.25rem;
  }
}