@import '../../styles/variables';
@import '../../assets/fonts/fonts';

.form-keywords {

  .mantine-Input-input {
    border: 1px solid #eaebed;
    border-radius: 8px;
    height: 48px;
    font-family: Inter;
    font-size: 14px;

    &:focus {
      border-color: $blue-500;
    }
  }

  .mantine-Input-rightSection {
    position: absolute;
    right: 34px;
  }

  .mantine-Button-root {
    transition: all 0.3s;
    font-family: Inter, sans-serif;
    font-weight: 500;
    background-color: $blue-500;
    padding: 0;
    border-radius: 8px;

    &:hover {
      background-color: $blue-400;
    }

    &:active {
      background-color: $blue-600;
    }
  }

  .mantine-Button-label {
    font-size: 14px;
    padding: 0 20px;
  }
}

@media (max-width:1023px) {
  .form-keywords {

    .mantine-Input-input {
      height: 40px;
      font-size: 12px;
    }

    .mantine-Input-rightSection {
      right: 22px;
    }

    .mantine-Button-label {
      font-size: 12px;
      padding: 0 16px;
    }

    .mantine-g7194 {
      height: 2rem;
    }
  }
}

@media (max-width:767px) {
  .form-keywords {

    .mantine-Input-input {
      height: 30px;
    }

    .mantine-Input-rightSection {
      right: 17px;
    }

    .mantine-Button-label {
      font-size: 10px;
      padding: 0 12px;
    }

    .mantine-g7194 {
      height: 1.5rem;
    }
  }
}

@media (max-width:424px) {
  .form-keywords {
    .mantine-Input-input {
      font-size: 10px;
    }

    .mantine-Input-rightSection {
      right: 12px;
    }
  }
}