@import '../../styles/variables';

.vacancy {
  list-style: none;
  padding: 24px;
  background-color: $white;
  border-radius: 12px;
  border: 1px solid $gray-200;

  &__title-box {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 12px;
    color: $blue-500;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__favorite {
    transition: all 0.2s;
    fill: #fff;
    color: #ACADB9;
  }

  &__favorite:hover {
    color: $blue-500;
  }

  &__salary-box {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
  }

  &__salary {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  &__salary::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 12px;
    background-color: $gray-600;
  }

  &__location {
    display: flex;
    align-items: center;
  }

  &__location::before {
    content: '';
    margin-right: 12px;
    display: block;
    width: 14px;
    height: 17px;
    background: url(../../assets/location.svg) center/contain no-repeat;
  }
}

.favorite {
  color: $blue-500;
  fill: $blue-500;
}