@import'../../styles/variables';
@import "../../assets/fonts/fonts";

.nav {
  &__list {
    display: flex;
    gap: 60px;
  }

  &__link {
    font-family: Inter, sans-serif;
    transition: all 0.3s;
    color: $black;

    &--active {
      color: $blue-500;
      font-weight: 500;
    }
  }
}