@import'../../styles/variables';

.nav {
  &__list {
    display: flex;
    gap: 60px;
  }

  &__link {
    transition: all 0.3s;
    color: $black;

    &--active {
      color: $blue-500;
    }
  }
}