@import'../../../styles/variables';
@import '../../../assets/fonts/fonts';

.logo {
  display: flex;
  align-items: center;

  &__image {
    height: 30px;
    width: 30px;
    margin-right: 12px;
  }

  &__title {
    color: $black;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .logo {
    &__image {
      height: 26px;
      width: 26px;
      margin-right: 12px;
    }

    &__title {
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .logo {
    margin-right: 0px;
  }
}