.vacancy-search {
  display: flex;
  align-items: flex-start;
  gap: 28px;

  &__body {
    flex: 0 1 773px;
  }
}

@media (max-width: 1023px) {
  .vacancy-search {
    gap: 16px;
  }
}

@media (max-width:767px) {
  .vacancy-search {
    flex-direction: column;
    gap: 24px;

    &__body {
      width: 100%;
      flex: 0 1 auto;
    }
  }
}